# Auto detect text files and perform LF normalization
* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.npmrc                 export-ignore
/.prettierignore        export-ignore
/.prettierrc            export-ignore
/CHANGELOG.md           export-ignore
/docs                   export-ignore
/README.md              export-ignore
